body {
    margin: 0px;
    background-color: #000000;
}
a{
    color:#fff;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    background: #1a1a1a;
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.header__section {
    display: flex;
    align-items: center;
    padding-right: 50px;
    margin-left: 5px;
}
.header__item{
    display: flex;
    padding: 10px 15px;
    font-size: 30px;
    margin-left: 5px;
    
}
.header__item__ButLog {
    display: flex;
    padding: 10px 15px;
    margin-left: 5px;
    align-content: center;
    vertical-align: central;
    height: 50px;
}
.header__item__logo {
    display: flex;
    padding-left: 175%;
    height:150px;
}
header__item__ButLog{

}
.header__item:hover {
    background-color: #808080;
    border-radius: 1px;
}
.under {
    display: flex;
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 100%;
    padding-top: 1000px;
}

.container {
    height: 1200px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000000;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #390068;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #7c7c7c;
    }
